* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg { 
    height: 100%;
    background-image: url(../artificial-intelligence-2228610.jpg) !important;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
